@charset "utf-8";
// ===================================================================
//  common_pc.css
// ===================================================================
.show_sp {
  display: none !important;
}
.row{
  max-width: 990px;
  width: 100%;
  margin: 0 auto;
}
.container{
  min-width: 990px;
  overflow: hidden;
}