.gr_nokopi {
  figure {
    margin: 20px 0 60px;
  }
  p {
    font-size: rem(30);
    line-height: 1.5;
    +p {
      margin-top: 60px;
    }
  }
  .l_red {
    font-size: rem(40);
    color: #e60012;
  }
  .l_blue {
    font-size: rem(40);
    color: #0e50b7;
  }
  .blue {
    color: #0e50b7;
  }
  .red_dd {
    font-size: rem(53);
    color: #7d0000;
    margin: 60px 0;
  }
  .list {
    margin: 60px 0;
    li {
      font-size: rem(30);
      line-height: 1.5;
      position: relative;
      padding-left: 45px;
      &:not(:last-child) {
        margin-bottom: 80px;
        &:after {
          content: "";
          background: url(../img/af_li.png) repeat;
          width: 100%;
          height: 8px;
          position: absolute;
          bottom: -40px;
          left: 0;
        }
      }
      &:before {
        content: "";
        background: url(../img/icon_check.png) no-repeat;
        width: 35px;
        height: 29px;
        position: absolute;
        top: 8px;
        left: 0;
      }
    }
  }
  .bx_step {
    background-color: #ff6000;
    padding: 4px;
    margin-top: 60px;
    .item_step {
      background-color: #fff;
      .step {
        padding: 33px;
        h4 {
          margin-bottom: 40px;
        }
        figure {
          margin: 20px 0 60px;
        }
      }
    }
  }
}

.nokopi_01 {
  h2 {
    margin-bottom: 30px;
  }
  figure {
    text-align: right;
    margin: 60px 0 0;
  }
}

.st_fans {
  background: linear-gradient(90deg, rgba(14, 80, 183, 1) 0%, rgba(53, 122, 126, 1) 32%, rgba(131, 208, 11, 1) 100%);
  padding: 12px 0;
  .bx_fans {
    text-align: center;
    background: url(../img/bkg_bx.png) repeat;
    padding: 55px 0 52px;
    h2 {
      margin-bottom: 50px;
    }
  }
}

.st_present {
  .fg_top {
    position: relative;
    background: url('../img/present_top_bg.png') center no-repeat;
    background-size: cover;
    figcaption {
      position: absolute;
      top: 36px;
      left: 50%;
      transform: translateX(-50%);
    }
    >img {
      visibility: hidden;
    }
  }
  .bx_special {
    background: url(../img/present_bot_bg_02.jpg) no-repeat 0 0 #450e14;
    margin-top: -130px;
    padding: 170px 0 80px;
    .row {
      padding: 0 30px;
    }
    article {
      h3 {
        line-height: 0;
        img {
          width: 100%;
          height: auto;
        }
      }
      .main_art_special {
        background: url(../img/present_bot_bg.jpg) repeat-y;
        background-size: 100% 100%;
        padding: 30px 40px;
        position: relative;
        &:after {
          content: "";
          background: url(../img/arrow_right_free.png) no-repeat;
          width: 37px;
          height: 36px;
          position: absolute;
          bottom: 0;
          right: 0;
        }
        dl {
          &:not(:last-child) {
            margin-bottom: 40px;
          }
          dt {
            margin-bottom: 40px;
          }
          dd {
            h4 {
              margin-bottom: 25px;
              img {
                width: 100%;
                height: auto;
              }
            }
            .flex {
              display: flex;
              justify-content: space-between;
              padding: 0 10px;
              &_l {
                p {
                  font-size: rem(25);
                  line-height: 1.5;
                  font-weight: bold;
                  +p {
                    margin-top: 40px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .bx_step {
      .bx_special_method {
        background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(157, 157, 157, 1) 100%);
        margin: 134px auto 80px;
        position: relative;
        background-color: #fff;
        padding: 5px;
        .bkg_w {
          padding: 130px 30px 50px;
          background-color: #fff;
        }
        h4 {
          position: absolute;
          top: -80px;
          left: 50%;
          transform: translateX(-50%);
        }
        .list_special {
          font-size: 0;
          display: flex;
          justify-content: space-between;
          li {
            text-align: center;
            width: calc(33, 33% - 164px);
            position: relative;
            span {
              display: block;
              position: relative;
              z-index: 2;
            }
            em {
              font-style: normal;
              font-size: rem(25);
              line-height: 1.5;
              font-weight: bold;
              display: block;
              margin: 30px 0 40px;
              min-height: 62px;
            }
            figure {
              display: block;
            }
          }
        }
      }
    }
    .btn_submit_cmm {
      text-align: center;
      position: relative;
      transform: translateZ(0);
      margin-bottom: 60px;
      a {
        &:hover {
          opacity: 0.8;
        }
      }
    }
    em {
      text-align: center;
      display: block;
    }
  }
}

.st_promise {
  background: url(../img/promis_bg.jpg) no-repeat 0 0;
  background-size: cover;
  padding: 43px 0 80px;
  text-align: center;
  .bx_prm {
    max-width: 945px;
    margin: 0 auto;
    position: relative;
    padding: 54px 0 0;
    &:before {
      content: "";
      background: url(../img/promis_edge.png) no-repeat;
      width: 94px;
      height: 97px;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after {
      content: "";
      background: url(../img/promis_edge.png) no-repeat;
      width: 94px;
      height: 97px;
      position: absolute;
      top: 0;
      right: 0;
      transform: rotate(90deg);
    }
    .item_pr {
      position: relative;
      padding-bottom: 65px;
      &:after {
        content: "";
        background: url(../img/promis_edge.png) no-repeat;
        width: 94px;
        height: 97px;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: rotate(-90deg);
      }
      &:before {
        content: "";
        background: url(../img/promis_edge.png) no-repeat;
        width: 94px;
        height: 97px;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: rotate(180deg);
      }
      h2 {
        position: relative;
        margin-bottom: 48px;
        &:after {
          content: "";
          width: 750px;
          height: 4px;
          background: linear-gradient(90deg, rgba(194, 153, 7, 1) 0%, rgba(135, 96, 29, 1) 29%, rgba(225, 190, 119, 1) 50%, rgba(138, 99, 21, 1) 86%, rgba(190, 149, 8, 1) 100%);
          position: absolute;
          bottom: 7px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
  .btn_submit_cmm {
    text-align: center;
    position: relative;
    transform: translateZ(0);
    margin: 65px 0 60px;
    a {
      &:hover {
        opacity: 0.8;
      }
    }
  }
  em {
    text-align: center;
    display: block;
  }
}

.st_king{
  background: url(../img/bkg_king.jpg) repeat-y;
  padding: 109px 0 180px;
  .ttl_ri{
    text-align: center;
    margin-bottom: 60px;
  }
  article{
    background-color: #fff;
    &:not(:last-child){
      margin-bottom: 81px;
    }
    h3{
      line-height: 0;
      img{
        width: 100%;
        height: auto;
      }
    }
    .main_art{
      padding: 30px;
      figure{
        margin-bottom: 60px;
        text-align: center;
      }
      p {
        font-size: rem(30);
        line-height: 1.5;
        +p {
          margin-top: 60px;
        }
      }
      .red{
        color: #e60012;
      }
    }
  }
}