.fv {
  background: url('../img/fv_bg.jpg') 0 0 no-repeat;
  background-size: cover;
  padding: 34px 0 16px;
  &_intro {
    text-align: center;
    p {
      font-size: 0;
      &:nth-of-type(2) {
        margin-top: 25px;
      }
      &:nth-of-type(3) {
        margin-top: 30px;
      }
      &:nth-of-type(4) {
        margin-top: 40px;
      }
    }
  }
  &_slider {
    width: 100%;
    height: auto;
    margin-top: 43px;
    .main_carousel {
      height: 152px;
      overflow: hidden;
      position: relative;
      background: rgba(#000,0.7);
      ul {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        padding: 21px 0;
        li {
          width: 179px;
          margin: 0 8px;
        }
      }
    }
  }
}
.ep1 {
  margin-top: 133px;
  background: linear-gradient(106deg, rgba(25,76,155,1) 0%, rgba(131,208,11,1) 99%, rgba(131,208,11,1) 100%);
  padding: 4px;
  &_white {
    border: 4px solid #fff;
    background: linear-gradient(106deg, rgba(25,76,155,1) 0%, rgba(131,208,11,1) 99%, rgba(131,208,11,1) 100%);
    text-align: center;
    position: relative;
    padding: 0 0 84px;
    &::after {
      position: absolute;
      content: "";
      width: 202px;
      height: 98px;
      background: url('../img/top_arrow_01.png') 0 0 no-repeat;
      background-size: contain;
      left: 50%;
      transform: translateX(-50%);
      bottom: -98px;
    }
    h2 {
      transform: translateY(-80px);
      font-size: 0;
    }
    p {
      font-size: 0;
      margin-top: -20px;
    }
  }
}
.bgytb {
  padding: 134px 0 37px;
  background: url('../img/mv_bg.png') center bottom no-repeat;
  background-size: contain;
  text-align: center;
  .ytb {
    .wrap {
      width: 911px;
      height: 530px;
      display: inline-block;
      font-size: 0;
      position: relative;
      transform: translateZ(0);
      &::after {
        position: absolute;
        content: "";
        width: 974px;
        height: 430px;
        background: url('../img/mv_bg_02.jpg') 0 0 no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
        bottom: 54px;
        z-index: -1;
      }
    }
  }
}
.profile {
  &_top {
    text-align: center;
    &_m {
      padding: 48px 0 38px;
      * {
        font-size: 0;
      }
      p {
        margin-top: 49px;
      }
    }
  }
  &_mid {
    &_01 {
      background: linear-gradient(90deg, #51b432 0%, #94ec0a 100%);
      &_m {
        h3 {
          padding: 34px 0 36px 140px;
          font-size: 0;
          position: relative;
          transform: translateZ(0);
          &::after {
            position: absolute;
            content: "";
            width: 1000%;
            height: 100%;
            background:  url('../img/profile_bg_01.png') 0 0 no-repeat;
            background-size: contain;
            top: 0;
            left: 34px;
            z-index: -1;
          }
        }
        &_c {
          position: relative;
          display: flex;
          justify-content: flex-end;
          padding: 45px 0 85px;
          > figure {
            position: absolute;
            left: -35px;
            top: 0;
            z-index: 2;
          }
        }
        &_t {
          padding: 0 30px 0 0;
          h4 {
            font-size: 0;
            position: relative;
            &::before {
              position: absolute;
              content: "";
              width: 309px;
              height: 405px;
              background: url('../img/line_01.png') 0 0 no-repeat;
              left: -305px;
              top: 64px;
              z-index: 1;
            }
          }
          h5 {
            text-align: right;
            font-size: 0;
            margin-top: 11px;
          }
          h6 {
            text-align: right;
            font-size: 0;
            margin-top: 28px;
          }
          p {
            font-size: 0;
            margin-top: 44px;
            position: relative;
            z-index: 3;
          }
        }
      }
    }
    &_02 {
      background: linear-gradient(90deg, rgba(4,86,167,1) 0%, rgba(102,188,252,1) 42%, rgba(0,82,163,1) 100%); /* w3c */
      &_m {
        h3 {
          padding: 34px 140px 36px 30px;
          font-size: 0;
          position: relative;
          transform: translateZ(0);
          &::after {
            position: absolute;
            content: "";
            width: 1000%;
            height: 100%;
            background:  url('../img/profile_bg_02.png') right top no-repeat;
            background-size: contain;
            top: 0;
            right: 34px;
            z-index: -1;
          }
        }
        &_c {
          position: relative;
          display: flex;
          justify-content: flex-start;
          padding: 45px 0 85px;
          > figure {
            position: absolute;
            right: -23px;
            top: 34px;
            z-index: 2;
          }
        }
        &_t {
          padding: 0 0 0 30px;
          h4 {
            font-size: 0;
            position: relative;
          }
          h5 {
            font-size: 0;
            margin-top: 11px;
          }
          p {
            font-size: 0;
            margin-top: 44px;
            position: relative;
            z-index: 3;
          }
        }
      }
    }
  }
  &_bot {
    padding: 36px 0 33px;
    border-bottom: 4px solid #61af38;
    &_m {
      text-align: center;
      figure {
        display: flex;
        justify-content: space-between;
        font-size: 0;
        margin-top: 30px;
      }
    }
  }
}
.watching {
  background: url('../img/bg_fixed_11.png') 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;
  &_wrap {
    background: #fff;
    padding: 62px 69px 62px; 
  }
  .nokopi {
    margin-top: 67px;
    .gr_nokopi {
      position: relative;
      .pos_01 {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
    .scroll {
      height: 600px;
      overflow: scroll;
    }
  }
}