@charset "utf-8";
@import "../../../common/css/_mixin/mixin";
.area_btn {
  padding: 0 0 39px;
  text-align: center;
}
.btn_submit_cmm {
  text-align: center;
  position: relative;
  transform: translateZ(0);
  margin-bottom: 14px;
  a {
    display: inline-block;
    &:hover {
      opacity: 0.8;
    }
  }
}
@import "./_dac_pc.scss";
@import "./_thong_pc.scss";
// @include min-screen() {
// 
// }
// 
// @include max-screen() {
//   @import "./_dac_sp.scss";
//   @import "./_thong_sp.scss";
// }

.ripple {
  display: block;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgba(255, 96, 0, 1) 0%, rgba(248, 187, 0, 1) 100%);
  border-radius: 100px;
  box-shadow: 0 0 5px rgba(255, 255, 255, 1);
  animation-name: rippleAnimation;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}

@keyframes rippleAnimation {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}