p.l {
  font-size: 3.8rem !important;
}

p.red {
  font-size: #ff0000 !important;
}

.m_bt_20 {
  margin-bottom: 20px;
}

.m_top_20 {
  margin-top: 20px;
}

.nav {
  padding: 43px 0 136px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 210px;
    height: 89px;
    background: url('../img/arrow_yellow.png') 0 0 no-repeat;
    background-size: contain;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
  }

  ul {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 910px;
    margin: 0 auto 0;

    li {
      width: calc(33.33% - 14px);
      margin: 0 0 35px 14px;

      &:nth-of-type(4) {
        margin-right: 295px;
      }

      a {
        display: inline-block;
      }
    }
  }
}

.fv {
  background: url('../img/fv_bg.jpg') 0 0 no-repeat;
  background-size: cover;
  padding: 34px 0 16px;

  &_intro {
    text-align: center;

    p {
      font-size: 0;

      &:nth-of-type(2) {
        margin-top: 25px;
      }

      &:nth-of-type(3) {
        margin-top: 30px;
      }

      &:nth-of-type(4) {
        margin-top: 40px;
      }
    }
  }

  &_slider {
    width: 100%;
    height: auto;
    margin-top: 43px;

    .main_carousel {
      height: 152px;
      overflow: hidden;
      position: relative;
      background: rgba(#000, 0.7);

      ul {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        padding: 21px 0;

        li {
          width: 179px;
          margin: 0 8px;
        }
      }
    }
  }
}

.ep1 {
  margin-top: 133px;
  background: url('../img/bg_gradient_arrow.png') center no-repeat;
  background-size: cover;
  padding-bottom: 132px;

  &_white {
    text-align: center;
    position: relative;
    padding: 0 0 84px;

    &::before {
      position: absolute;
      content: "";
      width: 8px;
      height: calc(100% + 9px);
      background: url('../img/bg_gradient_left.png') 0 100% no-repeat;
      background-size: 100% 100%;
      left: 0;
      top: 0;
    }

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: calc(100% + 9px);
      background: url('../img/bg_gradient_right.png') 0 100% no-repeat;
      background-size: 100% 100%;
      right: 0;
      top: 0;
    }

    h2 {
      transform: translateY(-80px);
      font-size: 0;
    }

    p {
      font-size: 0;
      margin-top: -20px;
    }
  }
}

.bgytb {
  padding: 49px 0 37px;
  background: url('../img/mv_bg.png') center bottom no-repeat;
  background-size: contain;
  text-align: center;

  .ytb {
    .wrap {
      width: 911px;
      height: 530px;
      display: inline-block;
      font-size: 0;
      position: relative;
      transform: translateZ(0);

      &::after {
        position: absolute;
        content: "";
        width: 974px;
        height: 430px;
        background: url('../img/mv_bg_02.jpg') 0 0 no-repeat;
        background-size: contain;
        left: 50%;
        transform: translateX(-50%);
        bottom: 54px;
        z-index: -1;
      }
    }
  }
}

.review {
  background: linear-gradient(89deg, rgba(14, 80, 183, 1) 0%, rgba(131, 208, 11, 1) 100%);
  padding: 22px 0;

  &_cross {
    background: url('../img/bg_review.png') 0 0 repeat #fff;
    text-align: center;
    padding: 62px 0;

    h2 {
      margin-bottom: 51px;
    }

    .btn_submit_cmm {
      margin-top: 55px;
    }
  }
}

.st_introduce {
  h2 {
    margin-bottom: 68px;
  }
  .bx_profile {
    margin: 0 -69px;
    padding-bottom: 70px;
    h3{
      line-height: 0;
    }
    &.bkg_green{
      background: linear-gradient(90deg, rgba(82,179,51,1) 0%, rgba(148,236,9,1) 100%);
    }
    &.bkg_red{
      background: linear-gradient(90deg, rgba(180,0,0,1) 0%, rgba(255,65,65,1) 100%);
    }
    &.bkg_blue{
      background: linear-gradient(90deg, rgba(46,100,162,1) 0%, rgba(84,166,225,1) 53%, rgba(43,95,153,1) 100%);
    }
    .row {
      padding: 0 69px;
    }
    .bx_text {
      background-color: #fff;
      margin-top: 50px;
      padding: 43px 42px 80px 33px;
      p {
        font-size: rem(30);
        line-height: 1.5;

        +p {
          margin-top: 60px;
        }
      }
    }
  }
}
.img_price{
  margin: 100px -69px;
  img{
    width: 100%;
    height: auto;
  } 
}

.watching {
  background: url('../img/bg_fixed_11.png') 0 0 no-repeat;
  background-size: cover;
  background-attachment: fixed;

  &_wrap {
    background: #fff;
    padding: 62px 69px 62px;
  }

  .nokopi {
    &:not(:first-child) {
      margin-top: 67px;
    }

    .gr_nokopi {
      position: relative;

      .pos_01 {
        position: absolute;
        top: 0;
        right: 0;
      }
    }

    .scroll {
      height: 600px;
      overflow: scroll;
    }
  }
}